clone:
  depth: 1

options:
  docker: true

definitions:
  services:
    docker:
      memory: 2048

pipelines:
  default:
    - parallel:
        - step:
            name: go-test
            image: golang:1.12-alpine
            script:
              - |
                export CGO_ENABLED=0
                export GOOS=linux
                export GOARCH=amd64
              - apk update && apk add git make bash curl
              - wget -O - -q https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s latest
              - make build
              - make test
              - make lint
