clone:
  depth: 1

options:
  docker: true

definitions:
  services:
    docker:
      memory: 2048

pipelines:
  default:
    - parallel:
        - step:
            name: go-test
            image: golang:1.13-alpine
            script:
              - |
                export CGO_ENABLED=0
                export GOOS=linux
                export GOARCH=amd64
              - apk update && apk add git make bash curl
              - make tools
              - make build
              - make test
              - make lint

        - step:
            name: code-coverage
            image: golang:1.13-alpine
            script:
              - export CGO_ENABLED=0
              - apk update && apk add git make bash
              - make code-coverage

        # build docker image
        - step:
            name: docker-image-build
            script:
              - make build_image
              - docker images