{
  "spec_version": "3.3",
  "wellknown_endpoint": "https://ob19-auth1-ui.o3bank.co.uk/.well-known/openid-configuration",
  "ssa": "ssa",
  "kid": "kid",
  "aud": "aud",
  "redirect_uris": ["https://redirect-as-defined-in-the-software-statement.com"],
  "issuer": "softwareId",
  "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEogIBAA...",
  "transport_root_cas": ["-----BEGIN CERTIFICATE-----\nMIIFYDCC...", "-----BEGIN CERTIFICATE-----\n..."],
  "transport_cert": "-----BEGIN CERTIFICATE-----\nMIIFOD...",
  "transport_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEp...",
  "transport_cert_subject_dn": "OPTIONAL - Provide the subject DN if golang toString is not inline with DCR server expectations",
  "get_implemented": true,
  "put_implemented": true,
  "delete_implemented": true,
  "environment": "sandbox",
  "brand": "Brand/product"
}