{
  "spec_version": "3.2",
  "wellknown_endpoint": "https://ob19-auth1-ui.o3bank.co.uk/.well-known/openid-configuration",
  "ssas": ["ssa1", "ssa2"],
  "kid": "kid",
  "aud": "aud",
  "redirect_uris": ["redirecturi"],
  "issuer": "softwareId",
  "private_key": "private_key",
  "transport_root_cas": ["cert 1", "cert 2"],
  "transport_cert": "transport cert",
  "transport_key": "transport key",
  "get_implemented": true,
  "put_implemented": true,
  "delete_implemented": true,
  "environment": "sandbox",
  "brand": "Brand/product"
}